---

---

<button
  role="link"
  class="relative w-full appearance-none py-4 px-4 font-semibold border rounded-xl shadow-md transition-duration-200 text-slate-700 dark:text-slate-200 hover:text-slate-800"
>
  <div class="flex justify-center gap-4">
    <slot />
  </div>
</button>

{
  /*<script>
  const button = document.body.querySelector("button");

  if (button) {
    button.addEventListener("click", () => {
      alert("clicked");
    });
  }
</script>*/
}
